# TEST RESULTS

Total    |Failures |Errors   |Ignored  |Date
---------|---------|---------|---------|-----------------------------
819      |0        |0        |0        |2025-02-17T11:49:59.994+01:00

## Namespace Testing

## Namespace Cryptography

### Fixture TCipherAlgorithms

Test case|Result|Success
---------|------|-------
Blowfish|Pass|✔
CAST128|Pass|✔
CAST256|Pass|✔
DES|Pass|✔
ICE|Pass|✔
ICE2|Pass|✔
IDEA|Pass|✔
MARS|Pass|✔
MISTY1|Pass|✔
RC2|Pass|✔
RC4|Pass|✔
RC5|Pass|✔
RC6|Pass|✔
Rijndael|Pass|✔
Serpent|Pass|✔
TEA|Pass|✔
ThinICE|Pass|✔
TripleDES|Pass|✔
Twofish|Pass|✔

### Fixture THashAlgorithms

Test case|Result|Success
---------|------|-------
HAVAL|Pass|✔
MD4|Pass|✔
MD5|Pass|✔
RIPEMD128|Pass|✔
RIPEMD160|Pass|✔
SHA1|Pass|✔
SHA256|Pass|✔
SHA384|Pass|✔
SHA512|Pass|✔
Tiger|Pass|✔

## Namespace EncryptionPropsModel

### Fixture TEncryptionPropsModelTests

Test case|Result|Success
---------|------|-------
IsEncrypted.Blowfish|Pass|✔
IsEncrypted.CAST128|Pass|✔
IsEncrypted.CAST256|Pass|✔
IsEncrypted.DES|Pass|✔
IsEncrypted.ICE|Pass|✔
IsEncrypted.ICE2|Pass|✔
IsEncrypted.IDEA|Pass|✔
IsEncrypted.MARS|Pass|✔
IsEncrypted.MISTY1|Pass|✔
IsEncrypted.None|Pass|✔
IsEncrypted.RC2|Pass|✔
IsEncrypted.RC4|Pass|✔
IsEncrypted.RC5|Pass|✔
IsEncrypted.RC6|Pass|✔
IsEncrypted.Rijndael|Pass|✔
IsEncrypted.Serpent|Pass|✔
IsEncrypted.TEA|Pass|✔
IsEncrypted.ThinICE|Pass|✔
IsEncrypted.TripleDES|Pass|✔
IsEncrypted.Twofish|Pass|✔
LoadCipherIndex.Blowfish|Pass|✔
LoadCipherIndex.CAST128|Pass|✔
LoadCipherIndex.CAST256|Pass|✔
LoadCipherIndex.DES|Pass|✔
LoadCipherIndex.ICE|Pass|✔
LoadCipherIndex.ICE2|Pass|✔
LoadCipherIndex.IDEA|Pass|✔
LoadCipherIndex.MARS|Pass|✔
LoadCipherIndex.MISTY1|Pass|✔
LoadCipherIndex.None|Pass|✔
LoadCipherIndex.NotEncrypted|Pass|✔
LoadCipherIndex.RC2|Pass|✔
LoadCipherIndex.RC4|Pass|✔
LoadCipherIndex.RC5|Pass|✔
LoadCipherIndex.RC6|Pass|✔
LoadCipherIndex.Rijndael|Pass|✔
LoadCipherIndex.Serpent|Pass|✔
LoadCipherIndex.TEA|Pass|✔
LoadCipherIndex.ThinICE|Pass|✔
LoadCipherIndex.TripleDES|Pass|✔
LoadCipherIndex.Twofish|Pass|✔
LoadHashIndex.HAVAL|Pass|✔
LoadHashIndex.MD4|Pass|✔
LoadHashIndex.MD5|Pass|✔
LoadHashIndex.None|Pass|✔
LoadHashIndex.RIPEMD128|Pass|✔
LoadHashIndex.RIPEMD160|Pass|✔
LoadHashIndex.SHA1|Pass|✔
LoadHashIndex.SHA256|Pass|✔
LoadHashIndex.SHA384|Pass|✔
LoadHashIndex.SHA512|Pass|✔
LoadHashIndex.Tiger|Pass|✔
LoadPassword|Pass|✔
LoadPasswordConfirmation|Pass|✔
NotValidPasswordMismatch|Pass|✔
SaveCipher.Blowfish|Pass|✔
SaveCipher.CAST128|Pass|✔
SaveCipher.CAST256|Pass|✔
SaveCipher.DES|Pass|✔
SaveCipher.ICE|Pass|✔
SaveCipher.ICE2|Pass|✔
SaveCipher.IDEA|Pass|✔
SaveCipher.MARS|Pass|✔
SaveCipher.MISTY1|Pass|✔
SaveCipher.None|Pass|✔
SaveCipher.RC2|Pass|✔
SaveCipher.RC4|Pass|✔
SaveCipher.RC5|Pass|✔
SaveCipher.RC6|Pass|✔
SaveCipher.Rijndael|Pass|✔
SaveCipher.Serpent|Pass|✔
SaveCipher.TEA|Pass|✔
SaveCipher.ThinICE|Pass|✔
SaveCipher.TripleDES|Pass|✔
SaveCipher.Twofish|Pass|✔
SaveEncrypted.Blowfish|Pass|✔
SaveEncrypted.CAST128|Pass|✔
SaveEncrypted.CAST256|Pass|✔
SaveEncrypted.DES|Pass|✔
SaveEncrypted.ICE|Pass|✔
SaveEncrypted.ICE2|Pass|✔
SaveEncrypted.IDEA|Pass|✔
SaveEncrypted.MARS|Pass|✔
SaveEncrypted.MISTY1|Pass|✔
SaveEncrypted.None|Pass|✔
SaveEncrypted.RC2|Pass|✔
SaveEncrypted.RC4|Pass|✔
SaveEncrypted.RC5|Pass|✔
SaveEncrypted.RC6|Pass|✔
SaveEncrypted.Rijndael|Pass|✔
SaveEncrypted.Serpent|Pass|✔
SaveEncrypted.TEA|Pass|✔
SaveEncrypted.ThinICE|Pass|✔
SaveEncrypted.TripleDES|Pass|✔
SaveEncrypted.Twofish|Pass|✔
SaveHash.HAVAL|Pass|✔
SaveHash.MD4|Pass|✔
SaveHash.MD5|Pass|✔
SaveHash.RIPEMD128|Pass|✔
SaveHash.RIPEMD160|Pass|✔
SaveHash.SHA1|Pass|✔
SaveHash.SHA256|Pass|✔
SaveHash.SHA384|Pass|✔
SaveHash.SHA512|Pass|✔
SaveHash.Tiger|Pass|✔
SavePassword|Pass|✔
ValidCipher.Blowfish|Pass|✔
ValidCipher.CAST128|Pass|✔
ValidCipher.CAST256|Pass|✔
ValidCipher.DES|Pass|✔
ValidCipher.ICE|Pass|✔
ValidCipher.ICE2|Pass|✔
ValidCipher.IDEA|Pass|✔
ValidCipher.MARS|Pass|✔
ValidCipher.MISTY1|Pass|✔
ValidCipher.None|Pass|✔
ValidCipher.RC2|Pass|✔
ValidCipher.RC4|Pass|✔
ValidCipher.RC5|Pass|✔
ValidCipher.RC6|Pass|✔
ValidCipher.Rijndael|Pass|✔
ValidCipher.Serpent|Pass|✔
ValidCipher.TEA|Pass|✔
ValidCipher.ThinICE|Pass|✔
ValidCipher.TripleDES|Pass|✔
ValidCipher.Twofish|Pass|✔
ValidHash.HAVAL|Pass|✔
ValidHash.MD4|Pass|✔
ValidHash.MD5|Pass|✔
ValidHash.RIPEMD128|Pass|✔
ValidHash.RIPEMD160|Pass|✔
ValidHash.SHA1|Pass|✔
ValidHash.SHA256|Pass|✔
ValidHash.SHA384|Pass|✔
ValidHash.SHA512|Pass|✔
ValidHash.Tiger|Pass|✔
ValidPassword.NotValid|Pass|✔
ValidPassword.Valid|Pass|✔

## Namespace FileManager

### Fixture TFileManagerTests

Test case|Result|Success
---------|------|-------
FilterByEvent.All.ExpirationDate|Pass|✔
FilterByEvent.All.Recurrence|Pass|✔
FilterByEvent.AllEvents.ExpirationDate|Pass|✔
FilterByEvent.AllEvents.Recurrence|Pass|✔
FilterByEvent.Custom.ExpirationDate.End|Pass|✔
FilterByEvent.Custom.ExpirationDate.Start|Pass|✔
FilterByEvent.Custom.Recurrence.End|Pass|✔
FilterByEvent.Custom.Recurrence.Start|Pass|✔
FilterByEvent.Next15days.ExpirationDate|Pass|✔
FilterByEvent.Next15days.Recurrence|Pass|✔
FilterByEvent.Next180days.ExpirationDate|Pass|✔
FilterByEvent.Next180days.Recurrence|Pass|✔
FilterByEvent.Next30days.ExpirationDate|Pass|✔
FilterByEvent.Next30days.Recurrence|Pass|✔
FilterByEvent.Next365days.ExpirationDate|Pass|✔
FilterByEvent.Next365days.Recurrence|Pass|✔
FilterByEvent.Next60days.ExpirationDate|Pass|✔
FilterByEvent.Next60days.Recurrence|Pass|✔
FilterByEvent.Next7days.ExpirationDate|Pass|✔
FilterByEvent.Next7days.Recurrence|Pass|✔
FilterByEvent.Next90days.ExpirationDate|Pass|✔
FilterByEvent.Next90days.Recurrence|Pass|✔
FilterByEvent.ThisMonth.ExpirationDate.End|Pass|✔
FilterByEvent.ThisMonth.ExpirationDate.Start|Pass|✔
FilterByEvent.ThisMonth.Recurrence.End|Pass|✔
FilterByEvent.ThisMonth.Recurrence.Start|Pass|✔
FilterByEvent.ThisWeek.ExpirationDate.End|Pass|✔
FilterByEvent.ThisWeek.ExpirationDate.Start|Pass|✔
FilterByEvent.ThisWeek.Recurrence.End|Pass|✔
FilterByEvent.ThisWeek.Recurrence.Start|Pass|✔
FilterByEvent.ThisYear.ExpirationDate.End|Pass|✔
FilterByEvent.ThisYear.ExpirationDate.Start|Pass|✔
FilterByEvent.ThisYear.Recurrence.End|Pass|✔
FilterByEvent.ThisYear.Recurrence.Start|Pass|✔
FilterByEvent.Today.ExpirationDate|Pass|✔
FilterByEvent.Today.Recurrence|Pass|✔
FilterByEvent.Tomorrow.ExpirationDate|Pass|✔
FilterByEvent.Tomorrow.Recurrence|Pass|✔
FilterByName|Pass|✔
FilterByRule|Pass|✔
FilterByTag|Pass|✔
FilterUntagged|Pass|✔
GetDisplayText.Email|Pass|✔
GetDisplayText.ExpirationDate|Pass|✔
GetDisplayText.Highlight|Pass|✔
GetDisplayText.HyperLink|Pass|✔
GetDisplayText.None|Pass|✔
GetDisplayText.Password|Pass|✔
GetDisplayText.Password.ShowPassword|Pass|✔
GetDisplayText.Recurrence|Pass|✔
GetHyperLink.Email|Pass|✔
GetHyperLink.ExpirationDate|Pass|✔
GetHyperLink.Highlight|Pass|✔
GetHyperLink.HyperLink|Pass|✔
GetHyperLink.None|Pass|✔
GetHyperLink.Password|Pass|✔
GetHyperLink.Recurrence|Pass|✔
IsEmail.Email|Pass|✔
IsEmail.ExpirationDate|Pass|✔
IsEmail.Highlight|Pass|✔
IsEmail.HyperLink|Pass|✔
IsEmail.None|Pass|✔
IsEmail.Password|Pass|✔
IsEmail.Recurrence|Pass|✔
IsHyperlink.Email|Pass|✔
IsHyperlink.ExpirationDate|Pass|✔
IsHyperlink.Highlight|Pass|✔
IsHyperlink.HyperLink|Pass|✔
IsHyperlink.None|Pass|✔
IsHyperlink.Password|Pass|✔
IsHyperlink.Recurrence|Pass|✔
IsHyperlinkOrEmail.Email|Pass|✔
IsHyperlinkOrEmail.ExpirationDate|Pass|✔
IsHyperlinkOrEmail.Highlight|Pass|✔
IsHyperlinkOrEmail.HyperLink|Pass|✔
IsHyperlinkOrEmail.None|Pass|✔
IsHyperlinkOrEmail.Password|Pass|✔
IsHyperlinkOrEmail.Recurrence|Pass|✔
LoadTags|Pass|✔
TryGetHighlightColorsForField.Email|Pass|✔
TryGetHighlightColorsForField.ExpirationDate|Pass|✔
TryGetHighlightColorsForField.Highlight|Pass|✔
TryGetHighlightColorsForField.HyperLink|Pass|✔
TryGetHighlightColorsForField.None|Pass|✔
TryGetHighlightColorsForField.Password|Pass|✔
TryGetHighlightColorsForField.Password.DisplayPasswordStrength|Pass|✔
TryGetHighlightColorsForField.Recurrence|Pass|✔
TryGetHighlightColorsForObject.Email|Pass|✔
TryGetHighlightColorsForObject.ExpirationDate|Pass|✔
TryGetHighlightColorsForObject.Highlight|Pass|✔
TryGetHighlightColorsForObject.HyperLink|Pass|✔
TryGetHighlightColorsForObject.None|Pass|✔
TryGetHighlightColorsForObject.Password|Pass|✔
TryGetHighlightColorsForObject.Password.DisplayPasswordStrength|Pass|✔
TryGetHighlightColorsForObject.Recurrence|Pass|✔
TryGetNextEvent.Email|Pass|✔
TryGetNextEvent.ExpirationDate|Pass|✔
TryGetNextEvent.Highlight|Pass|✔
TryGetNextEvent.HyperLink|Pass|✔
TryGetNextEvent.None|Pass|✔
TryGetNextEvent.Password|Pass|✔
TryGetNextEvent.Recurrence|Pass|✔

## Namespace FilePropsModel

### Fixture TFilePropsModelTests

Test case|Result|Success
---------|------|-------
LoadAuthor|Pass|✔
LoadCipher.Blowfish|Pass|✔
LoadCipher.CAST128|Pass|✔
LoadCipher.CAST256|Pass|✔
LoadCipher.DES|Pass|✔
LoadCipher.ICE|Pass|✔
LoadCipher.ICE2|Pass|✔
LoadCipher.IDEA|Pass|✔
LoadCipher.MARS|Pass|✔
LoadCipher.MISTY1|Pass|✔
LoadCipher.None|Pass|✔
LoadCipher.RC2|Pass|✔
LoadCipher.RC4|Pass|✔
LoadCipher.RC5|Pass|✔
LoadCipher.RC6|Pass|✔
LoadCipher.Rijndael|Pass|✔
LoadCipher.Serpent|Pass|✔
LoadCipher.TEA|Pass|✔
LoadCipher.ThinICE|Pass|✔
LoadCipher.TripleDES|Pass|✔
LoadCipher.Twofish|Pass|✔
LoadDescription|Pass|✔
LoadHash.HAVAL|Pass|✔
LoadHash.MD4|Pass|✔
LoadHash.MD5|Pass|✔
LoadHash.None|Pass|✔
LoadHash.RIPEMD128|Pass|✔
LoadHash.RIPEMD160|Pass|✔
LoadHash.SHA1|Pass|✔
LoadHash.SHA256|Pass|✔
LoadHash.SHA384|Pass|✔
LoadHash.SHA512|Pass|✔
LoadHash.Tiger|Pass|✔
LoadTitle|Pass|✔
SaveAuthor|Pass|✔
SaveDescription|Pass|✔
SaveTitle|Pass|✔

## Namespace HTMLExportModel

### Fixture THTMLExportModelTests

Test case|Result|Success
---------|------|-------
LoadIncludeIndex.False|Pass|✔
LoadIncludeIndex.True|Pass|✔
LoadIncludeNotes.False|Pass|✔
LoadIncludeNotes.True|Pass|✔
LoadIncludePasswords.False|Pass|✔
LoadIncludePasswords.True|Pass|✔
LoadIncludeRelations.False|Pass|✔
LoadIncludeRelations.True|Pass|✔
LoadIncludeTags.False|Pass|✔
LoadIncludeTags.True|Pass|✔
SaveIncludeIndex.False|Pass|✔
SaveIncludeIndex.True|Pass|✔
SaveIncludeNotes.False|Pass|✔
SaveIncludeNotes.True|Pass|✔
SaveIncludePasswords.False|Pass|✔
SaveIncludePasswords.True|Pass|✔
SaveIncludeRelations.False|Pass|✔
SaveIncludeRelations.True|Pass|✔
SaveIncludeTags.False|Pass|✔
SaveIncludeTags.True|Pass|✔

## Namespace ObjectModels

### Fixture TDuplicateObjectModelTests

Test case|Result|Success
---------|------|-------
AddField|Pass|✔
CanAddField|Pass|✔
CanDeleteField|Pass|✔
CanReplaceField|Pass|✔
CannotAddFieldDuplicatedFieldName|Pass|✔
CannotAddFieldEmptyFieldName|Pass|✔
CannotDeleteFieldEmptyFields|Pass|✔
CannotReplaceFieldDuplicatedFieldName|Pass|✔
CannotReplaceFieldEmptyFieldName|Pass|✔
DeleteField|Pass|✔
LoadFieldNames|Pass|✔
LoadFieldValues|Pass|✔
LoadMarkdown.False|Pass|✔
LoadMarkdown.True|Pass|✔
LoadObjectFieldNames|Pass|✔
LoadObjectFieldValues|Pass|✔
LoadObjectName|Pass|✔
LoadObjectNotes|Pass|✔
LoadObjectTags|Pass|✔
LoadTags|Pass|✔
NotValidEmptyObjectName|Pass|✔
ReplaceField|Pass|✔
SaveMarkdown.False|Pass|✔
SaveMarkdown.True|Pass|✔
SaveObjectFieldNames|Pass|✔
SaveObjectFieldValues|Pass|✔
SaveObjectName|Pass|✔
SaveObjectNotes|Pass|✔
SaveObjectTags|Pass|✔
SwapFields|Pass|✔
Valid|Pass|✔

### Fixture TEditObjectModelTests

Test case|Result|Success
---------|------|-------
AddField|Pass|✔
CanAddField|Pass|✔
CanDeleteField|Pass|✔
CanReplaceField|Pass|✔
CannotAddFieldDuplicatedFieldName|Pass|✔
CannotAddFieldEmptyFieldName|Pass|✔
CannotDeleteFieldEmptyFields|Pass|✔
CannotReplaceFieldDuplicatedFieldName|Pass|✔
CannotReplaceFieldEmptyFieldName|Pass|✔
DeleteField|Pass|✔
LoadFieldNames|Pass|✔
LoadFieldValues|Pass|✔
LoadMarkdown.False|Pass|✔
LoadMarkdown.True|Pass|✔
LoadObjectFieldNames|Pass|✔
LoadObjectFieldValues|Pass|✔
LoadObjectName|Pass|✔
LoadObjectNotes|Pass|✔
LoadObjectTags|Pass|✔
LoadTags|Pass|✔
NotValidEmptyObjectName|Pass|✔
ReplaceField|Pass|✔
SaveMarkdown.False|Pass|✔
SaveMarkdown.True|Pass|✔
SaveObjectFieldNames|Pass|✔
SaveObjectFieldValues|Pass|✔
SaveObjectName|Pass|✔
SaveObjectNotes|Pass|✔
SaveObjectTags|Pass|✔
SwapFields|Pass|✔
Valid|Pass|✔

### Fixture TNewObjectModelTests

Test case|Result|Success
---------|------|-------
AddField|Pass|✔
CanAddField|Pass|✔
CanDeleteField|Pass|✔
CanReplaceField|Pass|✔
CannotAddFieldDuplicatedFieldName|Pass|✔
CannotAddFieldEmptyFieldName|Pass|✔
CannotDeleteFieldEmptyFields|Pass|✔
CannotReplaceFieldDuplicatedFieldName|Pass|✔
CannotReplaceFieldEmptyFieldName|Pass|✔
DeleteField|Pass|✔
LoadFieldNames|Pass|✔
LoadFieldValues|Pass|✔
LoadMarkdown|Pass|✔
LoadObjectFieldNames|Pass|✔
LoadObjectFieldValues|Pass|✔
LoadObjectName|Pass|✔
LoadObjectNotes|Pass|✔
LoadObjectTags|Pass|✔
LoadTags|Pass|✔
NotValidEmptyObjectName|Pass|✔
ReplaceField|Pass|✔
SaveMarkdown.False|Pass|✔
SaveMarkdown.True|Pass|✔
SaveObjectFieldNames|Pass|✔
SaveObjectFieldValues|Pass|✔
SaveObjectName|Pass|✔
SaveObjectNotes|Pass|✔
SaveObjectTags|Pass|✔
SwapFields|Pass|✔
Valid|Pass|✔

## Namespace PrintModel

### Fixture TPrintModelTests

Test case|Result|Success
---------|------|-------
LoadIncludeNotes.False|Pass|✔
LoadIncludeNotes.True|Pass|✔
LoadIncludePasswords.False|Pass|✔
LoadIncludePasswords.True|Pass|✔
LoadIncludeRelations.False|Pass|✔
LoadIncludeRelations.True|Pass|✔
LoadIncludeTags.False|Pass|✔
LoadIncludeTags.True|Pass|✔
LoadTitle.Empty|Pass|✔
LoadTitle.NotEmpty|Pass|✔
SaveIncludeNotes.False|Pass|✔
SaveIncludeNotes.True|Pass|✔
SaveIncludePasswords.False|Pass|✔
SaveIncludePasswords.True|Pass|✔
SaveIncludeRelations.False|Pass|✔
SaveIncludeRelations.True|Pass|✔
SaveIncludeTags.False|Pass|✔
SaveIncludeTags.True|Pass|✔

## Namespace RelationModels

### Fixture TEditRelationModelTests

Test case|Result|Success
---------|------|-------
LoadObjectName1|Pass|✔
LoadObjectName2|Pass|✔
LoadRole1|Pass|✔
LoadRole2|Pass|✔
LoadRoles|Pass|✔
SaveRole1|Pass|✔
SaveRole2|Pass|✔

### Fixture TNewRelationModelTests

Test case|Result|Success
---------|------|-------
LoadObjectName1|Pass|✔
LoadObjectName2|Pass|✔
LoadRole1|Pass|✔
LoadRole2|Pass|✔
LoadRoles|Pass|✔
SaveRole1|Pass|✔
SaveRole2|Pass|✔

## Namespace ReplaceOperations

### Fixture TReplaceFieldNameModelTests

Test case|Result|Success
---------|------|-------
LoadReplaceList|Pass|✔
LoadSearchList|Pass|✔
Replace|Pass|✔
Valid|Pass|✔

### Fixture TReplaceFieldValueModelTests

Test case|Result|Success
---------|------|-------
LoadReplaceList|Pass|✔
LoadSearchList|Pass|✔
Replace|Pass|✔
Valid|Pass|✔

### Fixture TReplaceRoleModelTests

Test case|Result|Success
---------|------|-------
LoadReplaceList|Pass|✔
LoadSearchList|Pass|✔
Replace|Pass|✔
Valid|Pass|✔

### Fixture TReplaceTagModelTests

Test case|Result|Success
---------|------|-------
LoadReplaceList|Pass|✔
LoadSearchList|Pass|✔
Replace|Pass|✔
Valid|Pass|✔

## Namespace RuleModels

### Fixture TDuplicateRuleModelTests

Test case|Result|Success
---------|------|-------
IsEvent.Email|Pass|✔
IsEvent.ExpirationDate|Pass|✔
IsEvent.Highlight|Pass|✔
IsEvent.HyperLink|Pass|✔
IsEvent.Password|Pass|✔
IsEvent.Recurrence|Pass|✔
IsHighlight.Email|Pass|✔
IsHighlight.ExpirationDate|Pass|✔
IsHighlight.Highlight|Pass|✔
IsHighlight.HyperLink|Pass|✔
IsHighlight.Password|Pass|✔
IsHighlight.Recurrence|Pass|✔
IsHyperLink.Email|Pass|✔
IsHyperLink.ExpirationDate|Pass|✔
IsHyperLink.Highlight|Pass|✔
IsHyperLink.HyperLink|Pass|✔
IsHyperLink.Password|Pass|✔
IsHyperLink.Recurrence|Pass|✔
IsPassword.Email|Pass|✔
IsPassword.ExpirationDate|Pass|✔
IsPassword.Highlight|Pass|✔
IsPassword.HyperLink|Pass|✔
IsPassword.Password|Pass|✔
IsPassword.Recurrence|Pass|✔
LoadDateFormatIndex.DMY|Pass|✔
LoadDateFormatIndex.MDY|Pass|✔
LoadDateFormatIndex.YMD|Pass|✔
LoadDateFormats|Pass|✔
LoadDateSeparator|Pass|✔
LoadDaysAfter|Pass|✔
LoadDaysBefore|Pass|✔
LoadDisplayMask|Pass|✔
LoadDisplayPasswordStrength.False|Pass|✔
LoadDisplayPasswordStrength.True|Pass|✔
LoadFieldNameMask|Pass|✔
LoadFieldValueMask|Pass|✔
LoadHighlightColor|Pass|✔
LoadHighlightTextColor|Pass|✔
LoadHyperLinkMask|Pass|✔
LoadRuleName|Pass|✔
LoadRuleTypeIndex.Email|Pass|✔
LoadRuleTypeIndex.ExpirationDate|Pass|✔
LoadRuleTypeIndex.Highlight|Pass|✔
LoadRuleTypeIndex.HyperLink|Pass|✔
LoadRuleTypeIndex.Password|Pass|✔
LoadRuleTypeIndex.Recurrence|Pass|✔
LoadRuleTypes|Pass|✔
NotValidEmptyRuleName|Pass|✔
SaveDateFormatIndex.Email|Pass|✔
SaveDateFormatIndex.ExpirationDate.DMY|Pass|✔
SaveDateFormatIndex.ExpirationDate.MDY|Pass|✔
SaveDateFormatIndex.ExpirationDate.YMD|Pass|✔
SaveDateFormatIndex.Highlight|Pass|✔
SaveDateFormatIndex.HyperLink|Pass|✔
SaveDateFormatIndex.Password|Pass|✔
SaveDateFormatIndex.Recurrence.DMY|Pass|✔
SaveDateFormatIndex.Recurrence.MDY|Pass|✔
SaveDateFormatIndex.Recurrence.YMD|Pass|✔
SaveDateSeparator.Email|Pass|✔
SaveDateSeparator.ExpirationDate|Pass|✔
SaveDateSeparator.Highlight|Pass|✔
SaveDateSeparator.HyperLink|Pass|✔
SaveDateSeparator.Password|Pass|✔
SaveDateSeparator.Recurrence|Pass|✔
SaveDaysAfter.Email|Pass|✔
SaveDaysAfter.ExpirationDate|Pass|✔
SaveDaysAfter.Highlight|Pass|✔
SaveDaysAfter.HyperLink|Pass|✔
SaveDaysAfter.Password|Pass|✔
SaveDaysAfter.Recurrence|Pass|✔
SaveDaysBefore.Email|Pass|✔
SaveDaysBefore.ExpirationDate|Pass|✔
SaveDaysBefore.Highlight|Pass|✔
SaveDaysBefore.HyperLink|Pass|✔
SaveDaysBefore.Password|Pass|✔
SaveDaysBefore.Recurrence|Pass|✔
SaveDisplayMask.Email|Pass|✔
SaveDisplayMask.ExpirationDate|Pass|✔
SaveDisplayMask.Highlight|Pass|✔
SaveDisplayMask.HyperLink|Pass|✔
SaveDisplayMask.Password|Pass|✔
SaveDisplayMask.Recurrence|Pass|✔
SaveDisplayPasswordStrength.Email|Pass|✔
SaveDisplayPasswordStrength.ExpirationDate|Pass|✔
SaveDisplayPasswordStrength.Highlight|Pass|✔
SaveDisplayPasswordStrength.HyperLink|Pass|✔
SaveDisplayPasswordStrength.Password.False|Pass|✔
SaveDisplayPasswordStrength.Password.True|Pass|✔
SaveDisplayPasswordStrength.Recurrence|Pass|✔
SaveFieldNameMask|Pass|✔
SaveFieldValueMask|Pass|✔
SaveHighlightColor.Email|Pass|✔
SaveHighlightColor.ExpirationDate|Pass|✔
SaveHighlightColor.Highlight|Pass|✔
SaveHighlightColor.HyperLink|Pass|✔
SaveHighlightColor.Password|Pass|✔
SaveHighlightColor.Recurrence|Pass|✔
SaveHighlightTextColor.Email|Pass|✔
SaveHighlightTextColor.ExpirationDate|Pass|✔
SaveHighlightTextColor.Highlight|Pass|✔
SaveHighlightTextColor.HyperLink|Pass|✔
SaveHighlightTextColor.Password|Pass|✔
SaveHighlightTextColor.Recurrence|Pass|✔
SaveHyperLinkMask.Email|Pass|✔
SaveHyperLinkMask.ExpirationDate|Pass|✔
SaveHyperLinkMask.Highlight|Pass|✔
SaveHyperLinkMask.HyperLink|Pass|✔
SaveHyperLinkMask.Password|Pass|✔
SaveHyperLinkMask.Recurrence|Pass|✔
SaveRuleName|Pass|✔
SaveRuleTypeIndex.Email|Pass|✔
SaveRuleTypeIndex.ExpirationDate|Pass|✔
SaveRuleTypeIndex.Highlight|Pass|✔
SaveRuleTypeIndex.HyperLink|Pass|✔
SaveRuleTypeIndex.Password|Pass|✔
SaveRuleTypeIndex.Recurrence|Pass|✔
Valid|Pass|✔

### Fixture TEditRuleModelTests

Test case|Result|Success
---------|------|-------
IsEvent.Email|Pass|✔
IsEvent.ExpirationDate|Pass|✔
IsEvent.Highlight|Pass|✔
IsEvent.HyperLink|Pass|✔
IsEvent.Password|Pass|✔
IsEvent.Recurrence|Pass|✔
IsHighlight.Email|Pass|✔
IsHighlight.ExpirationDate|Pass|✔
IsHighlight.Highlight|Pass|✔
IsHighlight.HyperLink|Pass|✔
IsHighlight.Password|Pass|✔
IsHighlight.Recurrence|Pass|✔
IsHyperLink.Email|Pass|✔
IsHyperLink.ExpirationDate|Pass|✔
IsHyperLink.Highlight|Pass|✔
IsHyperLink.HyperLink|Pass|✔
IsHyperLink.Password|Pass|✔
IsHyperLink.Recurrence|Pass|✔
IsPassword.Email|Pass|✔
IsPassword.ExpirationDate|Pass|✔
IsPassword.Highlight|Pass|✔
IsPassword.HyperLink|Pass|✔
IsPassword.Password|Pass|✔
IsPassword.Recurrence|Pass|✔
LoadDateFormatIndex.DMY|Pass|✔
LoadDateFormatIndex.MDY|Pass|✔
LoadDateFormatIndex.YMD|Pass|✔
LoadDateFormats|Pass|✔
LoadDateSeparator|Pass|✔
LoadDaysAfter|Pass|✔
LoadDaysBefore|Pass|✔
LoadDisplayMask|Pass|✔
LoadDisplayPasswordStrength.False|Pass|✔
LoadDisplayPasswordStrength.True|Pass|✔
LoadFieldNameMask|Pass|✔
LoadFieldValueMask|Pass|✔
LoadHighlightColor|Pass|✔
LoadHighlightTextColor|Pass|✔
LoadHyperLinkMask|Pass|✔
LoadRuleName|Pass|✔
LoadRuleTypeIndex.Email|Pass|✔
LoadRuleTypeIndex.ExpirationDate|Pass|✔
LoadRuleTypeIndex.Highlight|Pass|✔
LoadRuleTypeIndex.HyperLink|Pass|✔
LoadRuleTypeIndex.Password|Pass|✔
LoadRuleTypeIndex.Recurrence|Pass|✔
LoadRuleTypes|Pass|✔
NotValidEmptyRuleName|Pass|✔
SaveDateFormatIndex.Email|Pass|✔
SaveDateFormatIndex.ExpirationDate.DMY|Pass|✔
SaveDateFormatIndex.ExpirationDate.MDY|Pass|✔
SaveDateFormatIndex.ExpirationDate.YMD|Pass|✔
SaveDateFormatIndex.Highlight|Pass|✔
SaveDateFormatIndex.HyperLink|Pass|✔
SaveDateFormatIndex.Password|Pass|✔
SaveDateFormatIndex.Recurrence.DMY|Pass|✔
SaveDateFormatIndex.Recurrence.MDY|Pass|✔
SaveDateFormatIndex.Recurrence.YMD|Pass|✔
SaveDateSeparator.Email|Pass|✔
SaveDateSeparator.ExpirationDate|Pass|✔
SaveDateSeparator.Highlight|Pass|✔
SaveDateSeparator.HyperLink|Pass|✔
SaveDateSeparator.Password|Pass|✔
SaveDateSeparator.Recurrence|Pass|✔
SaveDaysAfter.Email|Pass|✔
SaveDaysAfter.ExpirationDate|Pass|✔
SaveDaysAfter.Highlight|Pass|✔
SaveDaysAfter.HyperLink|Pass|✔
SaveDaysAfter.Password|Pass|✔
SaveDaysAfter.Recurrence|Pass|✔
SaveDaysBefore.Email|Pass|✔
SaveDaysBefore.ExpirationDate|Pass|✔
SaveDaysBefore.Highlight|Pass|✔
SaveDaysBefore.HyperLink|Pass|✔
SaveDaysBefore.Password|Pass|✔
SaveDaysBefore.Recurrence|Pass|✔
SaveDisplayMask.Email|Pass|✔
SaveDisplayMask.ExpirationDate|Pass|✔
SaveDisplayMask.Highlight|Pass|✔
SaveDisplayMask.HyperLink|Pass|✔
SaveDisplayMask.Password|Pass|✔
SaveDisplayMask.Recurrence|Pass|✔
SaveDisplayPasswordStrength.Email|Pass|✔
SaveDisplayPasswordStrength.ExpirationDate|Pass|✔
SaveDisplayPasswordStrength.Highlight|Pass|✔
SaveDisplayPasswordStrength.HyperLink|Pass|✔
SaveDisplayPasswordStrength.Password.False|Pass|✔
SaveDisplayPasswordStrength.Password.True|Pass|✔
SaveDisplayPasswordStrength.Recurrence|Pass|✔
SaveFieldNameMask|Pass|✔
SaveFieldValueMask|Pass|✔
SaveHighlightColor.Email|Pass|✔
SaveHighlightColor.ExpirationDate|Pass|✔
SaveHighlightColor.Highlight|Pass|✔
SaveHighlightColor.HyperLink|Pass|✔
SaveHighlightColor.Password|Pass|✔
SaveHighlightColor.Recurrence|Pass|✔
SaveHighlightTextColor.Email|Pass|✔
SaveHighlightTextColor.ExpirationDate|Pass|✔
SaveHighlightTextColor.Highlight|Pass|✔
SaveHighlightTextColor.HyperLink|Pass|✔
SaveHighlightTextColor.Password|Pass|✔
SaveHighlightTextColor.Recurrence|Pass|✔
SaveHyperLinkMask.Email|Pass|✔
SaveHyperLinkMask.ExpirationDate|Pass|✔
SaveHyperLinkMask.Highlight|Pass|✔
SaveHyperLinkMask.HyperLink|Pass|✔
SaveHyperLinkMask.Password|Pass|✔
SaveHyperLinkMask.Recurrence|Pass|✔
SaveRuleName|Pass|✔
SaveRuleTypeIndex.Email|Pass|✔
SaveRuleTypeIndex.ExpirationDate|Pass|✔
SaveRuleTypeIndex.Highlight|Pass|✔
SaveRuleTypeIndex.HyperLink|Pass|✔
SaveRuleTypeIndex.Password|Pass|✔
SaveRuleTypeIndex.Recurrence|Pass|✔
Valid|Pass|✔

### Fixture TNewRuleModelTests

Test case|Result|Success
---------|------|-------
IsEvent.Email|Pass|✔
IsEvent.ExpirationDate|Pass|✔
IsEvent.Highlight|Pass|✔
IsEvent.HyperLink|Pass|✔
IsEvent.Password|Pass|✔
IsEvent.Recurrence|Pass|✔
IsHighlight.Email|Pass|✔
IsHighlight.ExpirationDate|Pass|✔
IsHighlight.Highlight|Pass|✔
IsHighlight.HyperLink|Pass|✔
IsHighlight.Password|Pass|✔
IsHighlight.Recurrence|Pass|✔
IsHyperLink.Email|Pass|✔
IsHyperLink.ExpirationDate|Pass|✔
IsHyperLink.Highlight|Pass|✔
IsHyperLink.HyperLink|Pass|✔
IsHyperLink.Password|Pass|✔
IsHyperLink.Recurrence|Pass|✔
IsPassword.Email|Pass|✔
IsPassword.ExpirationDate|Pass|✔
IsPassword.Highlight|Pass|✔
IsPassword.HyperLink|Pass|✔
IsPassword.Password|Pass|✔
IsPassword.Recurrence|Pass|✔
LoadDateFormatIndex|Pass|✔
LoadDateFormats|Pass|✔
LoadDateSeparator|Pass|✔
LoadDaysAfter|Pass|✔
LoadDaysBefore|Pass|✔
LoadDisplayMask|Pass|✔
LoadDisplayPasswordStrength|Pass|✔
LoadFieldNameMask|Pass|✔
LoadFieldValueMask|Pass|✔
LoadHighlightColor|Pass|✔
LoadHighlightTextColor|Pass|✔
LoadHyperLinkMask|Pass|✔
LoadRuleName|Pass|✔
LoadRuleTypeIndex|Pass|✔
LoadRuleTypes|Pass|✔
NotValidEmptyRuleName|Pass|✔
SaveDateFormatIndex.Email|Pass|✔
SaveDateFormatIndex.ExpirationDate.DMY|Pass|✔
SaveDateFormatIndex.ExpirationDate.MDY|Pass|✔
SaveDateFormatIndex.ExpirationDate.YMD|Pass|✔
SaveDateFormatIndex.Highlight|Pass|✔
SaveDateFormatIndex.HyperLink|Pass|✔
SaveDateFormatIndex.Password|Pass|✔
SaveDateFormatIndex.Recurrence.DMY|Pass|✔
SaveDateFormatIndex.Recurrence.MDY|Pass|✔
SaveDateFormatIndex.Recurrence.YMD|Pass|✔
SaveDateSeparator.Email|Pass|✔
SaveDateSeparator.ExpirationDate|Pass|✔
SaveDateSeparator.Highlight|Pass|✔
SaveDateSeparator.HyperLink|Pass|✔
SaveDateSeparator.Password|Pass|✔
SaveDateSeparator.Recurrence|Pass|✔
SaveDaysAfter.Email|Pass|✔
SaveDaysAfter.ExpirationDate|Pass|✔
SaveDaysAfter.Highlight|Pass|✔
SaveDaysAfter.HyperLink|Pass|✔
SaveDaysAfter.Password|Pass|✔
SaveDaysAfter.Recurrence|Pass|✔
SaveDaysBefore.Email|Pass|✔
SaveDaysBefore.ExpirationDate|Pass|✔
SaveDaysBefore.Highlight|Pass|✔
SaveDaysBefore.HyperLink|Pass|✔
SaveDaysBefore.Password|Pass|✔
SaveDaysBefore.Recurrence|Pass|✔
SaveDisplayMask.Email|Pass|✔
SaveDisplayMask.ExpirationDate|Pass|✔
SaveDisplayMask.Highlight|Pass|✔
SaveDisplayMask.HyperLink|Pass|✔
SaveDisplayMask.Password|Pass|✔
SaveDisplayMask.Recurrence|Pass|✔
SaveDisplayPasswordStrength.Email|Pass|✔
SaveDisplayPasswordStrength.ExpirationDate|Pass|✔
SaveDisplayPasswordStrength.Highlight|Pass|✔
SaveDisplayPasswordStrength.HyperLink|Pass|✔
SaveDisplayPasswordStrength.Password.False|Pass|✔
SaveDisplayPasswordStrength.Password.True|Pass|✔
SaveDisplayPasswordStrength.Recurrence|Pass|✔
SaveFieldNameMask|Pass|✔
SaveFieldValueMask|Pass|✔
SaveHighlightColor.Email|Pass|✔
SaveHighlightColor.ExpirationDate|Pass|✔
SaveHighlightColor.Highlight|Pass|✔
SaveHighlightColor.HyperLink|Pass|✔
SaveHighlightColor.Password|Pass|✔
SaveHighlightColor.Recurrence|Pass|✔
SaveHighlightTextColor.Email|Pass|✔
SaveHighlightTextColor.ExpirationDate|Pass|✔
SaveHighlightTextColor.Highlight|Pass|✔
SaveHighlightTextColor.HyperLink|Pass|✔
SaveHighlightTextColor.Password|Pass|✔
SaveHighlightTextColor.Recurrence|Pass|✔
SaveHyperLinkMask.Email|Pass|✔
SaveHyperLinkMask.ExpirationDate|Pass|✔
SaveHyperLinkMask.Highlight|Pass|✔
SaveHyperLinkMask.HyperLink|Pass|✔
SaveHyperLinkMask.Password|Pass|✔
SaveHyperLinkMask.Recurrence|Pass|✔
SaveRuleName|Pass|✔
SaveRuleTypeIndex.Email|Pass|✔
SaveRuleTypeIndex.ExpirationDate|Pass|✔
SaveRuleTypeIndex.Highlight|Pass|✔
SaveRuleTypeIndex.HyperLink|Pass|✔
SaveRuleTypeIndex.Password|Pass|✔
SaveRuleTypeIndex.Recurrence|Pass|✔
Valid|Pass|✔

## Namespace XmlStorage

### Fixture TXmlStorageTests

Test case|Result|Success
---------|------|-------
RetrieveDefaultBooleanValue.False|Pass|✔
RetrieveDefaultBooleanValue.True|Pass|✔
RetrieveDefaultFloatValue|Pass|✔
RetrieveDefaultIntegerValue|Pass|✔
RetrieveDefaultStringValue|Pass|✔
StoreAndRetrieveBooleanValue.False|Pass|✔
StoreAndRetrieveBooleanValue.True|Pass|✔
StoreAndRetrieveFloatValue|Pass|✔
StoreAndRetrieveIntegerValue|Pass|✔
StoreAndRetrieveStringValue|Pass|✔
