/*

Style: BLOCKS

Author: https://github.com/maurizuki

*/

:root {
	--sonic-silver: #747474;
	--anti-flash-white: #f0f0f0;
	--orioles-orange: #f34f1c;
	--apple-green: #7fbc00;
	--selective-yellow: #ffba01;
	--vivid-cerulean: #01a6f0;
}

body {
	color: #000;
	background-color: #fff;
	font-family: sans-serif;
	font-size: 1rem;
}

body a:link,
a:visited,
a:hover {
	color: var(--sonic-silver);
}

body h2 {
	display: inline;
}

.container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.object-index {
	display: inline-block;
	border-left: .5rem solid var(--sonic-silver);
}

.object-index ul {
	margin: 0;
	padding: 0 1.5rem;
	list-style-type: square;
}

.object-index li {
	padding: .125rem;
}

.object-item {
	border-left: .5rem solid var(--vivid-cerulean);
	padding-left: .5rem;
	margin-top: 1.5rem;
}

.object-item:nth-of-type(4n+1) {
	border-left-color: var(--orioles-orange);
}

.object-item:nth-of-type(4n+2) {
	border-left-color: var(--apple-green);
}

.object-item:nth-of-type(4n+3) {
	border-left-color: var(--selective-yellow);
}

.tag-list {
	margin-top: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.tag-item {
	background-color: var(--anti-flash-white);
	padding: .25rem;
	max-width: 20rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.field-list {
	margin-top: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.field-item {
	background-color: var(--anti-flash-white);
}

.field-name {
	padding: .25rem;
}

.field-value {
	background-color: #fff;
	margin-left: 2rem;
	padding: .25rem;
}

.relation-list {
	margin-top: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.relation-item {
	background-color: var(--anti-flash-white);
}

.relation-object {
	padding: .25rem;
}

.relation-role {
	background-color: #fff;
	margin-left: 2rem;
	padding: .25rem;
}

.notes {
	margin-top: .5rem;
}

.notes-plaintext {
	font-family: monospace;
	white-space: pre-wrap;
}
