/*

Style: MONO|
           |CHROME
           |SPACE

Author: https://github.com/maurizuki

*/

:root {
	--green-80: #00cc00;
	--green-100: #00ff00;
}

body {
	color: var(--green-80);
	background-color: #000;
	font-family: monospace;
	font-size: 1rem;
}

body a:link,
a:visited,
a:hover {
	color: var(--green-100);
}

body h2 {
	display: inline;
}

.container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.object-index {
	display: inline-block;
	border: 3px double var(--green-100);
	padding-right: 1rem;
}

.object-index ul {
	list-style-type: square;
}

.object-index li {
	padding: .125rem;
}

.object-item {
	border: 2px solid var(--green-100);
	margin-top: 1.5rem;
	padding: .5rem;
}

.tag-list {
	border-top: 1px solid var(--green-100);
	margin-top: .5rem;
	padding-top: .125rem;
	display: flex;
	flex-wrap: wrap;
	gap: .125rem;
}

.tag-item {
	color: #000;
	background-color: var(--green-80);
	max-width: 20rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.field-list {
	display: table;
	border-top: 1px solid var(--green-100);
	margin-top: .5rem;
	width: 100%;
}

.field-item {
	display: table-row;
}

.field-name {
	display: table-cell;
	padding: .125rem;
	width: 30%;
}

.field-value {
	display: table-cell;
	padding: .125rem;
	width: 70%;
}

.relation-list {
	display: table;
	border-top: 1px solid var(--green-100);
	margin-top: .5rem;
	width: 100%;
}

.relation-item {
	display: table-row;
}

.relation-object {
	display: table-cell;
	padding: .125rem;
	width: 70%;
}

.relation-role {
	display: table-cell;
	padding: .125rem;
	width: 30%;
}

.notes {
	border-top: 1px solid var(--green-100);
	margin-top: .5rem;
	padding-top: .125rem;
}
